@using premake.repositories.user.objects
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavManager
@inject premake.User.CurrentUser CurrentUser

<div class="user-repo" @onclick="ToggleExpand">
    <div class="repo-header">

        <img src="@repo.owner.avatar_url"
             alt="User Avatar"
             class="avatar"
             title="Visit @repo.name repository"
             @onclick="OnLinkClick" />

        <h4>@repo.name</h4>

        @if (OnAdd.HasDelegate)
        {
            <button class="add-button"
                    @onclick="OnAddClicked">
            
                @buttonSymbol
            </button>
        }
    </div>

    @if (isExpanded)
    {
        <div class="repo-details">
            @if (!string.IsNullOrEmpty(repo.description))
            {
                <p><strong class="repo-item">Description:</strong> @repo.description</p>
            }

            @if (repo.license is not null)
            {
                <p><strong class="repo-item">License:</strong> @repo.license.Name</p>
            }

            <p><strong class="repo-item">Open Issues:</strong> @repo.issues</p>
        </div>
    }
</div>

@code {
    [Parameter] public UserRepo repo { get; set; } = default!;
    [Parameter] public EventCallback<UserRepo> OnAdd { get; set; }
    [Parameter] public bool IsInfo { get; set; } = false;
    private bool isExpanded;
    private string buttonSymbol => IsInfo ? "?" : "+";
    private void ToggleExpand()
    {
        isExpanded = !isExpanded;
    }

    private void OnLinkClick(MouseEventArgs e)
    {
        isExpanded = !isExpanded;
        NavManager.NavigateTo(repo.html_url ?? repo.url, true);
    }

    private async Task OnAddClicked(MouseEventArgs e)
    {
        if (OnAdd.HasDelegate)
        {
            await OnAdd.InvokeAsync(repo);
        }
    }
}
